body{

font-family:Arial;
margin:0;
background:#111;
color:white;

}

/* HEADER */

header{

background:black;
padding:20px;
text-align:center;

}

header h1{

color:orange;

}

nav a{

margin:15px;
color:white;
text-decoration:none;
font-weight:bold;

}

nav a:hover{

color:orange;

}

/* BANNER */

.banner{

background:linear-gradient(45deg,#ff7300,#ff9900);
padding:60px;
text-align:center;

}

.banner h2{

font-size:40px;

}

.btnBanner{

background:black;
color:white;
padding:15px 25px;
text-decoration:none;
border-radius:8px;
font-weight:bold;

}

/* SECTIONS */

section{

padding:40px;
text-align:center;

}

/* CATEGORIAS */

.categorias{

display:flex;
justify-content:center;
flex-wrap:wrap;

}

.categoria{

background:#222;
padding:20px;
margin:10px;
border-radius:10px;
cursor:pointer;
transition:0.3s;

}

.categoria:hover{

background:orange;
color:black;

}

/* PRODUCTOS */

#listaProductos{

display:flex;
flex-wrap:wrap;
justify-content:center;

}

.card{

background:#222;
margin:20px;
padding:20px;
border-radius:12px;
width:230px;
transition:0.3s;

}

.card:hover{

transform:scale(1.05);

}

.card img{

width:100%;
border-radius:10px;

}

.card h3{

margin:10px 0;

}

.card p{

font-size:18px;
color:orange;

}

.card a{

display:block;
margin-top:10px;
background:#25D366;
color:white;
padding:10px;
text-decoration:none;
border-radius:6px;

}

/* BUSCADOR */

#buscador{

padding:12px;
width:300px;
border-radius:6px;
border:none;

}

/* WHATSAPP FLOTANTE */

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:30px;
padding:15px;
border-radius:50%;
text-decoration:none;

}